@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground:var(--dark-grey);
  --dark-grey: rgb(18, 12, 19);

  --border-radius : 20px;
  --border-style : 1px solid white;
  --input-padding : 10px 20px;

  --menu-height: 4rem;

  --content-padding: clamp(20px, 5%, 30px)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-grey);
    --foreground: #ededed;
  }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin-top: var(--menu-height);
}
.content{
    width: 100%;
    padding: var(--content-padding);
    background-color: var(--dark-grey);
}
h1{ 
    font-size: 3.5rem; 
    font-weight: bold; 
    margin-bottom: 1rem; 
}
