.button{
    cursor:pointer;
}
.submit{
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    border : var(--border-style);
    color : var(--background);
    padding: var(--input-padding);
    cursor:pointer;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.logout{
    padding: 0 5px;
    border-radius:30px;
    border:none;
    background-color: var( --foreground);
}